
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/assets/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("/assets/fonts/Inter-italic.var.woff2?v=3.15") format("woff2");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url("/assets/fonts/raleway-v4020-semibold-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: italic;
    src: url("/assets/fonts/raleway-v4020-semibolditalic-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: url("/assets/fonts/raleway-v4020-bold-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: italic;
    src: url("/assets/fonts/raleway-v4020-bolditalic-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: normal;
    src: url("/assets/fonts/raleway-v4020-extrabold-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: italic;
    src: url("/assets/fonts/raleway-v4020-extrabolditalic-webfont.woff2") format("woff2");
}