@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/assets/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("/assets/fonts/Inter-italic.var.woff2?v=3.15") format("woff2");
}

@mixin dark {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@import 'base';
@import 'navigation';
@import 'misc';
@import 'search';

@tailwind utilities;
