@tailwind base;
@tailwind components;

@import 'fonts';

@mixin dark {
    .dark & {
        @content;
    }
}
.auto-dark {
    display: none;
}
.manual-light {
    display: block;
    @include dark {
        display: none;
    }
}
.manual-dark {
    display: none;
    @include dark {
        display: block;
    }
}

@import 'base';
@import 'navigation';
@import 'misc';
@import 'search';

@tailwind utilities;
