// Add your custom styles here
.alert {
    @apply .bg-white;
    @apply .shadow;
    @apply .overflow-hidden;
    @apply .rounded-lg;
    @apply .px-4;
    @apply .py-5;
    @apply .my-4;
    position: relative;
    z-index: 1;
    p {
        @apply .mt-0;
        &:last-child {
            @apply .mb-0;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }
    &::before {
        content: '';
        position: absolute;
        @apply .inset-0;
        background-position: top 0.5rem right -2rem;
        background-repeat: no-repeat;
        opacity: 0.15;
        background-size: 8rem 6rem;
        z-index: -1;
    }
    &-success {
        @apply .bg-green-200;
        @apply .text-green-800;
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2338A169;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M18,0A18,18,0,1,0,36,18,18,18,0,0,0,18,0Zm8.47,10.28a1.16,1.16,0,0,1,1.57.2,1.32,1.32,0,0,1,0,1.81L15.23,25.18l-.16.16a1.22,1.22,0,0,1-1.81,0L6.88,19l-.16-.24a.62.62,0,0,1-.12-.26,1.4,1.4,0,0,1-.06-.28.66.66,0,0,1,0-.28,1.1,1.1,0,0,1,.06-.26.85.85,0,0,1,.12-.26.66.66,0,0,1,.16-.22,1.26,1.26,0,0,1,1.84,0l5.43,5.42,12-12.13A1.1,1.1,0,0,1,26.47,10.28Z'/%3E%3C/svg%3E");
        }
    }
    &-info {
        @apply .bg-blue-200;
        @apply .text-blue-800;
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%233182CE;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M18,0A18,18,0,1,0,36,18,18,18,0,0,0,18,0Zm3.49,27.37a1.29,1.29,0,0,1-.9,2.19H15.45a1.29,1.29,0,0,1,0-2.57h1.29V16.72H15.45a1.28,1.28,0,0,1-.9-2.19,1.19,1.19,0,0,1,.9-.38H18a1.3,1.3,0,0,1,1.28,1.28V27h1.29A1.23,1.23,0,0,1,21.49,27.37ZM15.45,9a2.57,2.57,0,1,1,5.14,0,2.57,2.57,0,1,1-5.14,0Z'/%3E%3C/svg%3E");
        }
    }
    &-warning {
        @apply .bg-yellow-200;
        @apply .text-yellow-800;
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43.07 40.21'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23D69E2E;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M.43,34.42,18,2.21a4,4,0,0,1,7.15,0L42.64,34.42a4,4,0,0,1-3.58,5.79H4A4,4,0,0,1,.43,34.42Zm21.1-7.71a2,2,0,0,0,2-2v-10a2,2,0,0,0-2-2h0a2,2,0,0,0-2,2v10a2,2,0,0,0,2,2Zm2,6h0a2,2,0,0,0-2-2h0a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2h0A2,2,0,0,0,23.53,32.71Z'/%3E%3C/svg%3E");
        }
    }
    &-danger {
        @apply .bg-red-200;
        @apply .text-red-800;
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23E53E3E;%7D.cls-2%7Bfill:none;stroke:%23E53E3E;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M25,21h0a2,2,0,0,1-2-2V9a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2V19A2,2,0,0,1,25,21Zm2,6a2,2,0,0,1-2,2h0a2,2,0,0,1-2-2h0a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2ZM25,0A18,18,0,1,0,43,18,18,18,0,0,0,25,0Z'/%3E%3Cpath class='cls-2' d='M8,35A24,24,0,0,1,8,1'/%3E%3Cpath class='cls-2' d='M42,1A24,24,0,0,1,42,35'/%3E%3C/svg%3E");
        }
    }
    @media (prefers-color-scheme: dark) {
        &::before {
            opacity: 0.25;
        }
        @apply .bg-gray-800;
        @apply .text-gray-200;
        &-success {
            @apply .bg-green-800;
            @apply .text-green-300;
        }
        &-info {
            @apply .bg-blue-900;
            @apply .text-blue-200;
        }
        &-warning {
            @apply .bg-orange-800;
            @apply .text-yellow-300;
        }
        &-danger {
            @apply .bg-red-800;
            @apply .text-orange-300;
        }
    }
}
details {
    @apply .bg-white;
    @apply .shadow;
    @apply .overflow-hidden;
    @apply .rounded-lg;
    @apply .px-4;
    @apply .py-3;
    @apply .my-1;
    @apply .text-sm;
    > :last-child {
        @apply .mb-0;
    }
    summary {
        @apply .leading-tight;
        @apply .font-bold;
        @apply .cursor-pointer;
        @apply .px-4;
        @apply .py-4;
        @apply .-mx-4;
        @apply .-my-4;
        @apply .text-base;
        outline-offset: -8px;
        &:focus {
            outline: 3px dashed #bee3f8;
        }
    }
    @media (prefers-color-scheme: dark) {
        @apply .bg-gray-800;
        @apply .text-gray-200;
        summary {
            &:focus {
                outline: 3px dashed #4C51BF;
            }
        }
    }
}
.faq-section, .news-entry {
    h1 { @apply .text-4xl }
    h2 { @apply .text-3xl; @apply .font-bold }
    h3 { @apply .text-2xl }
    h4 { @apply .text-xl }
    h5 { @apply .text-lg }
}
.news-entry {
    h1 {
        @apply .text-purple-700;
        @media (prefers-color-scheme: dark) {
            @apply .text-purple-300;
        }
    }
    > :nth-child(2) {
        @apply .mt-0;
    }
    &.on-homepage {
        @apply .text-sm;
        h1 {
            @apply .text-3xl;
            @apply .font-bold;
            @apply .text-indigo-800;
            @media (prefers-color-scheme: dark) {
                @apply .text-indigo-200;
            }
        }
        h2 { @apply .text-2xl; @apply .font-bold }
        h3 { @apply .text-xl }
        h4 { @apply .text-lg }
        h5 { @apply .text-lg }
    }
}
.faq-section {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        @apply .mt-8;
    }
    > hr {
        @apply .hidden;
    }
    
    @media (min-width: 1024px) {
        > * {
            float: right;
            width: 70%;
        }
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
            float: left;
            clear: both;
            width: 30%;
            @apply .break-words;
            @apply .mt-2;
        }
        > hr {
            @apply .block;
            clear: both;
            width: 100%;
        }
    }
}
.introdution {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply .text-gray-900;
        @media (prefers-color-scheme: dark) {
            @apply .text-gray-100;
        }
    }
}
.long-article {
    @media (min-width: 1024px) {
        h1:first-of-type {
            margin-right: -66.666%;
        }
        .toc {
            @apply .float-right;
            @apply .sticky;
            @apply .overflow-auto;
            top: 2rem;
            margin-right: -66.666%;
            max-height: calc(100vh - 2rem);
            width: 60%;
        }
    }
}
.ratio-iframe {
    position: relative;
    width: 100%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.excerpt-card {
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        @apply .inset-0;
        background-position: top 0.5rem right -2rem;
        background-repeat: no-repeat;
        opacity: 0.15;
        background-size: 8rem 6rem;
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23A0AEC0' class='inline mr-3 h-16 align-middle -mt-8 -mb-6'%3E%3Cpath d='M15.46,5.14,14.05,3.75l1.93-2,1.41,1.4ZM11,.09H9V2.86h2ZM3.66,7.68H.91v2H3.66Zm15.43,0H16.34v2h2.75ZM6,3.75,4,1.79,2.61,3.19,4.54,5.14Zm6.71,12.72h0A2.53,2.53,0,0,1,10.13,19H9.87a2.53,2.53,0,0,1-2.53-2.53h5.32ZM10,3.89A5.24,5.24,0,0,0,4.62,9,5.34,5.34,0,0,0,6.41,12.9a3.11,3.11,0,0,1,1.2,2.39v.55h4.78v-.55a3.11,3.11,0,0,1,1.2-2.39A5.34,5.34,0,0,0,15.38,9,5.24,5.24,0,0,0,10,3.89Zm2,7a5.85,5.85,0,0,0-1.75,2.37H9.77A5.85,5.85,0,0,0,8,10.92,2.8,2.8,0,0,1,7.17,9,2.7,2.7,0,0,1,10,6.44,2.7,2.7,0,0,1,12.83,9,2.8,2.8,0,0,1,12,10.92Z' /%3E%3C/svg%3E");
    }
    &.placeholder::before {
        background-position: center;
        background-size: 12rem 9rem;
    }
}
.w-half {
    width: 49%;
    @apply .inline-block;
}
.slider-item {
    width: calc(100% - 3rem);
    @media (min-width: 640px) {
        width: calc(50% - 3rem);
    }
    @media (min-width: 768px) {
        width: auto;
    }
}